@font-face {
    font-family: 'ethnocentricregular';
    src: url('ethnocentric_rg-webfont.woff2') format('woff2'),
         url('ethnocentric_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@media only screen and (max-width:1050px){ /*When the screen gets small*/
    nav ul{
        display: none;
        width: 100% !important;/*Makes the links wider for phones*/
    }
    .icon{
        display: block;
        }
    #navwrap{
        display: block  !important;/*Ensures new line between logo and links*/
        width:100% !important;   /*Makes the links wider for phones*/
    }
}
@media only screen and (min-width:1050px){/*When the screen gets big*/
    nav ul{
        display: inherit !important;

    }
    .icon{
    display: none;

    }


}

@media only screen and (max-width:650px){ /*When the screen gets smaller*/
.card{
    width: 100%!important;
}
.widecard{
    width: 100%!important;
}

 
.bigImage {
    height: 300px !important;
} 
}

@media only screen and (max-width: 1000px) {
    #wrapper{
        width: 100% !important;
    }}

.icon{
    float:right ;

}


.logo{
font-family: "ethnocentricregular";

}

nav{
    background-color:#BF2A37;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    display: flex;

}

nav ul{
    list-style-type: none;
    margin: auto;
    padding: 0;     
    overflow: hidden;
    width:fit-content;

}
nav ul li{
    float: left;
}

nav a{
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 25px 10px 25px;

}

nav a:hover{
    background-color: #A62E38;;
}

nav a:visited{
    color: white;
}

#navwrap{
    width:fit-content;
    display: flex;
    margin: auto;
}


.row::after {
    content: "";
    clear: both;
    display: table;
}




body{
    margin: 0px;
    /*background-color: #A62E38;*/
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

#wrapper{
    width: 980px;
    padding-left: 10px;
    padding-right: 10px;
    height: 1000px;
    background-color:#fff ;
    margin: auto;
    padding-top: 10px;
  /*  -webkit-box-shadow: 1px 35px 49px 7px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 35px 49px 7px rgba(0,0,0,0.75);
box-shadow: 1px 35px 49px 7px rgba(0,0,0,0.75);  After researching similar websites, a different style has been chosen.  */
}

.bigImage{
    display: flex;
    justify-content: center;
    height:390px;
    overflow: hidden;
}
.bigImage img{
    flex:none;
    height: 208%;
    transform: translate(0px, -40px);

}
.menuflex{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5px;
}

.card{
    border: 1px solid;
    border-radius: 3px;
    width: 35%;
    height:600px;
    background-color:white;
    overflow: hidden;
    padding: 1px;
    justify-content: center;
}
.card img{
    width: 100%;
flex: none;
}
.cardImage{
    height:300px;
    overflow: hidden;
}
.widecard{
    border: 1px solid;
    border-radius: 3px;
    width: 60%;
    height:600px;
    background-color:white;
    overflow: hidden;
padding: 1px;
justify-content: center;

}
.widecard img{
    width: 100%;
flex: none;
transform: translate(0px,-200px);
}
.WidecardImage{
    height:400px;
    overflow: hidden;
}
.links{
    display:block;
}


footer{
    width: 100%;
    height: auto;
    background-color:#232628;
    padding: 10px 0 10px 0;
    display: flex;
    color: #fff;
}

footer div{
    height: inherit;
    
}
footer p{
    margin: 1px;
}
.footTextBold{
    font-weight: 500;
}
footer a{
    text-decoration: none;
    color: #fff;
    font-weight: 200;
}
footer a:hover{
background-color: #3d4144;
}
.col1 {width: 8.33%;}
.col2 {width: 16.66%;}
.col3 {width: 25%;}
.col4 {width: 33.33%;}
.col5 {width: 41.66%;}
.col6 {width: 50%;}
.col7 {width: 58.33%;}
.col8 {width: 66.66%;}
.col9 {width: 75%;}
.col10 {width: 83.33%;}
.col11 {width: 91.66%;}
.col12 {width: 100%;}

.footText{
width: fit-content;
margin: auto;
font-weight: 200;
}
h1{
    font-weight: 300;
}